<form action = '/calculate' method = 'get'>
<label>First Number<input type = 'text' name = 'first'></label>
<label>Second Number<input type = 'text' name = 'operator'></label>
<label>Operator<input type = 'text' name = 'second'></label>
<button>Calculate!</button>
</form>



<h1>Calculator Says....</h1>

<% if @result %>
  <section>
    <header>
      <h1>Result</h1>
    </header>
      <p>The First Number was: <%= @first%> </p>
      <p>The Operator was: <%= @operator%> </p>
      <p>The Second Number was: <%= @second%> </p>
      <hr/>
      <h3>The result of <%= @first %> <%= @operator%> <%= @second%> is <%= @result %></h3>
  </section>
<%end%>
  

